<div class="content">
  <div class="cards">
    <div class="row">
      <div class="col-3">
        <p-card header="Java" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets\languages-images\java-oracle.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Iniciar" icon="pi pi-check"></p-button>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card header="Python" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets\languages-images\python.jpg" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Iniciar" icon="pi pi-check"></p-button>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card header="Typescript" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets\languages-images\typescript.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button label="Iniciar" icon="pi pi-check"></p-button>
          </ng-template>
        </p-card>
      </div>
      <div class="col-3">
        <p-card header="Java" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets\languages-images\java-oracle.png" />
          </ng-template>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
          <ng-template pTemplate="footer">
            <p-button
              label="Iniciar"
              (onClick)="startNow()"
              icon="pi pi-check"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
