.title {
  height: 400px;
}
.title-align {
  padding-top: 30%;
}
.image-align {
  padding-top: 20%;
  width: 400px;
  height: 450px;
  object-fit: cover;
}

.p-button.p-button-success {
  margin-left: 120px !important;
}
