<p-splitter [style]="{ height: '600px' }">
  <ng-template pTemplate>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-6">
          <div class="title">
            <h1 class="title-align">Como vamos te Ajudar ?</h1>
            <br />
            <p style="text-align: justify; text-justify: inter-word">
              A plataforma Triesity é um ambiente de testes sobre diversas
              linguagens e ferramentas utilizadas no mundo da programação. O
              Objetivo da plataforma é prover testes que examinam sua
              proficiência em uma determinada linguagem de programação,
              frameworks front-end e back-end, banco de dados, cloud e outras
              ferramentas. Com a alta competitividade do mercado de ti, empresas
              no mundo inteiro, têm adotado a estratégia de testes para
              compreender melhor o nível de conhecimento do seus candidatos nas
              tecnologias dos cargos de contratação. Tendo em vista esté
              cenário, a Triesity é uma otima plataforma para você avaliar seus
              conhecimentos.
            </p>
          </div>
          <div></div>
        </div>
        <div class="col-5">
          <div>
            <img
              src="assets\tests-image.png"
              height="500"
              class="image-align"
            />
            <button
              pButton
              pRipple
              type="button"
              label="Começe Agora"
              (click)="startNow()"
              class="p-button-rounded p-button-success"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-splitter>
